on post-fs-data
    mkdir /data/sec_storage_data 0700 system system
    restorecon /data/sec_storage_data
    mkdir /data/sec_storage_data_users 0700 system system
    restorecon /data/sec_storage_data_users
